@media (prefers-color-scheme: dark) {
    body{
        background-color: rgb(30, 33, 36);
        color: white;
    }

    a, a:hover{
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body{
        background-color: rgb(238, 238, 238);
        color: black;
    }

    a, a:hover{
        color: black;
    }
}

#languageButton{
    margin-right: 5vw;
}

#languageButtonText{
    font-size: 25px;
}

#languageSelector{
    font-size: 30px;
}

a{
    text-decoration: none;
}

.navbar-brand{
    font-size: 40px;
    margin-left: 1vw;
}

#footer{
    font-size: 30px;
    position: fixed;
    left: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    bottom: 0px;
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
    background-color: white;
    color: black;
}