.col
{
    text-align: center;
}

.card-title {
    color: black;
}

.card
{
    margin-bottom: 5vw;
}

#category{
    vertical-align: baseline;
}

.breadcrumb{
    padding-top: 24px;
}

.breadcrumb-item{
    font-size: 20px;
    color: white;
}

a.breadcrumb-item:hover{
    color: green;
}

.breadcrumb-item.active{
    font-size: 20px;
    color: greenyellow;
}

#menu_description{
    font-size: 30px;
    padding-left: 5vw;
    padding-top: 1vw;
}

.category-container{
    scroll-margin-top: 100px;
    width: 96vw;
}

.category{
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-style: hidden;
    border-width: 1px;
    border-radius: 3vw;
    background-color: darkgreen;
}

.category-description{
    font-size: 25px;
    color: lightgray;
}

#item-container{
    min-width: intrinsic;
}

h5 {
    color: black;
    font-size: 30px;
}

.modal-body{
    font-size: 30px;
    color: black;
    text-align: left;
}

.modal-title{
    color: black;
}

.close-button{
    font-size: 40px;
}